
.subs {
  background-color: $white;
}

.subs__wrap {
  padding: 0 15px;
  padding-top: 30px;
  padding-bottom: 50px;

  @media(min-width: $md) {
    padding: 0 55px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media(min-width: $lg) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.subs__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 40px;
  line-height: 85px;
  font-family: "MPLUS1p-Medium";

  @media(min-width: $md) {
    font-size: 80px;
    margin-bottom: 30px;
  }
}

.subs__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: "MPLUS1p-Regular";
  font-size: 16px;
  line-height: 20px;

  @media(min-width: $md) {
    width: 400px;
  }
}

.subs__list {
  @include list-reset();

  @media(min-width: $lg){
  display: flex;
  flex-wrap: wrap;

  width: 860px;
  }
}

.subs__item {
  width: 290px;
  margin-bottom: 10px;

  @media(min-width: $md) {
    width: 400px;
    margin-bottom: 30px;
    margin-right: 30px;

    &--email {
      order: 1;
    }

    &--phone {
      order: 3;
    }

    &--date {
      order: 2;
    }

    &--time {
      order: 4;
    }
  }
}

.subs__input {
  width: 100%;
  padding: 15px;
  padding-left: 20px;
  box-sizing: border-box;

  border: 1px solid rgba(11, 10, 13, 0.2);
  border-radius: 10px;

  font-family: "MPLUS1p-Regular";
  font-size: 16px;
  line-height: 20px;
  color: $bg-common;

  &::placeholder {
    line-height: 18px;
    font-size: 14px;
    color: rgba(11, 10, 13, 0.6);
  }

  &:active {
    outline: 1px solid $bg-common;
  }
}

.subs__button {
  text-align: center;
  display: block;
  cursor: pointer;

  box-shadow: none;
  appearance: none;
  padding: 12px 16px 14px;
  width: 124px;

  border: 1px solid rgba(11, 10, 13, 0.2);
  border-radius: 10px;

  background-color: $white;
  font-family: "Golos-UI_Regular";
  font-size: 14px;
  line-height: 18px;
  color: $bg-common;

  &:hover {
    background-color: $hover;
  }
}
